.navbar{
   display: flex; 
   background: #42a4ff;
   align-items: center;

   padding: 0px 0px;
}
h1.ant-typography{ 
      
       text-align: left ;
       border: solid;
}
.ant-menu{
    background-color: #42a4ff;
}
.title{
    font-size:50px;
   margin-right: 55%;
    
}
.ant-menu-vertical{
    border-right: 0;
}
.ant-menu-root.ant-menu-vertical{
     align-items: center;
}