.acc {
  border-radius: 50px;
  /* border: 2px solid rgb(204, 204, 204); */
  background-color: #4fd1b10d;
  width: 100%;
  height: 100%;
}
.d1 {
  width: 30%;
  margin-top: 2%;
  margin-left: 9%;
  padding: 1%;
  font-weight: 200;
}
.titre {
  color: #4fd1b1;
}
.im1 {
  margin-left: 10%;
}
.img1 {
  width: 300px;
  height: auto;
}
