.acc{
    border-radius: 50px;
   border: 2px solid rgb(204, 204, 204);
   background-color: #4fd1b10d;
   
    }
.d1{
    width: 30%;
   margin-top: 2%;
   margin-left: 35%;  

    padding: 1%;
font-weight: 200;}
.im1{
    margin-top: 5%;
    margin-left: 35%;  

}
.img1{
  
  
    width: 300px;
    height: auto;
    
}