.ant-col-6 {
  display: flex;
}
.ant-form-item-label {
  font-size: large;
}
.d {
  border-radius: 50px;
  border: 2px  rgb(204, 204, 204);
  /* background-color: #4fd1b10d; */
  width: auto;
}
.t {
  margin-top: 2%;
  margin-left: 10%;
}
.d2 {
  margin-left: -8%;
}
.img11 {
  margin-left: 6%;
  margin-top: 3%;
}
.titre1{
   color: #4fd1b1;

   margin-left: 10%;
   margin-top: 3%;
}
.img22{
  
  width: 75% !important;
}
.box{
  display: flex;
justify-content: space-around;
}
.cont{
  width: 100%;
  margin: 10px 0px 10px 50px;
}