.ant-col-6{
   display: flex;
   
}
.ant-form-item-label{
font-size: large;
}
.d{
   border-radius: 50px;
   border: 2px solid rgb(204, 204, 204);
   background-color: #4fd1b10d;
   width: auto;
   
}
.t{
   margin-top: 10%;
   margin-left: 35%; 

}
.d2{
   margin-left: 20%; 
 
}