
.ant-form-item-label {
  font-size: large;
}
.d {
  border-radius: 50px;
  border: 2px  rgb(204, 204, 204);
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t {
  margin-top: 2%;
  margin-left: 10%;
}
/* .d2 {
  margin-left: -8%;
} */
.img11 {
  margin-left: 6%;
  margin-top: 3%;
}
.titre1{
   color: #4fd1b1;

   margin-left: 10%;
   margin-top: 3%;
}

/* .box{
  display: flex;
justify-content: space-around;
} */
.cont{
  width: 100%;
  margin: 20px 0px 0px 50px;
}
.partie2{
  width: 40%;
}